---
name: order-management
url: /order-management
---

<table id="order_management_table" class="display">
  <thead>
        <tr>
            <th>Date Time</th>
            <th>Delivery</th>
            <th>Tel.</th>
            <th>Order</th>
            <th>Customer</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>12/03/2014 12:33:32</th>
            <th>12 xx Road, VIC</th>
            <th>12312413</th>
            <th>1. xxx 2. xxx 3. xxxxx</th>
            <th>212141234</th>
            <th>Awaiting</th>
        </tr>
        <tr>
            <th>12/03/2014 12:30:14</th>
            <th>55 xx St., VIC</th>
            <th>6546364</th>
            <th>1. xxx</th>
            <th>45245342</th>
            <th>Awaiting</th>
        </tr>
    </tbody>
</table>