<script type="text/ng-template" id="restaurantModalView.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ selectedRestaurant.restaurantName.S }}</h3>
    </div>
    <div class="modal-body">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<a href="#" class="thumbnail" onclick="document.getElementById('file-chooser').click(); return false;">
					<img ng-src="{{imageSrc}}" alt="...">
				</a>
				<input type="file" id="file-chooser" style="visibility: hidden; width: 1px; height: 1px" fxmenu-file-select="onFileSelect($files)"/>

				<div class="input-group">
					<span class="input-group-addon" id="restaurant-address">Address</span>
					<input type="text" class="form-control" ng-model="restaurant.address" aria-describedby="restaurant-address">
				</div>

				<br>

				<div class="input-group">
					<span class="input-group-addon" id="restaurant-contactNum">Contact Number</span>
					<input type="text" class="form-control" ng-model="restaurant.contactNum" aria-describedby="restaurant-contactNum">
				</div>

				<br>

				<div class="panel panel-default">
					<div class="panel-heading">Menu</div>
					<table class="table">
						<tr>
							<th>Thumbnail</th>
							<th>Name</th>
							<th>Price</th>
						</tr>
						<tr ng-repeat="dish in selectedRestaurant.restaurantMenu.L">
							<td>{{ dish.M.thumbnail.S }}</td>
							<td>{{ dish.M.name.S }}</td>
							<td>{{ dish.M.price.N | currency : AU$ }}</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-success" type="button" ng-click="save()">Save</button>
    </div>
</script>