<script type="text/ng-template" id="restaurantModalView.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ selectedRestaurant.restaurantName.S }}</h3>
    </div>
    <div class="modal-body">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<a href="#" class="thumbnail">
					<img ng-src="{{ selectedRestaurant.restaurantThumbnail.S }}" alt="...">
				</a>

				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">Address</span>
					<input type="text" class="form-control" placeholder="{{ selectedRestaurant.restaurantAddress.S }}" aria-describedby="basic-addon1">
				</div>

				<br>

				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">Contact Number</span>
					<input type="text" class="form-control" placeholder="{{ selectedRestaurant.restaurantContactNumber.S }}" aria-describedby="basic-addon1">
				</div>

				<br>

				<div class="panel panel-default">
					<div class="panel-heading">Menu</div>
					<table class="table">
						<tr>
							<th>Thumbnail</th>
							<th>Name</th> 
							<th>Price</th>
						</tr>
						<tr ng-repeat="dish in selectedRestaurant.restaurantMenu.L">
							<td>{{ dish.M.thumbnail.S }}</td>
							<td>{{ dish.M.name.S }}</td>
							<td>{{ dish.M.price.N | currency : AU$}}</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-success" type="button" ng-click="save()">Save</button>
    </div>
</script>