<script type="text/ng-template" id="src/app/restaurant/restaurant-menu-modal.html">
    <div class="modal-header">
        <h3 class="modal-title">Add a new dish</h3>
    </div>

    <div class="modal-body">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<a href="#" class="thumbnail" onclick="document.getElementById('file-chooser').click(); return false;">
					<img ng-src="{{ dish.dishThumbnail }}" alt="Click to upload image.">
				</a>
				<input type="file" id="file-chooser" style="visibility: hidden; width: 1px; height: 1px" file-select="onFileSelect($files)" required/>

				<div class="input-group">
					<span class="input-group-addon" id="dish-name">名称</span>
					<input type="text" class="form-control" ng-model="dish.name" placeholder="" aria-describedby="dish-name" required>
				</div>

				<br>

				<div class="input-group">
					<span class="input-group-addon" id="dish-category">类别</span>
					<input type="text" class="form-control" ng-model="dish.category" placeholder="" aria-describedby="dish-category" required>
				</div>

				<br>

				<div class="input-group">
					<span class="input-group-addon" id="dish-price">价格</span>
					<input type="text" class="form-control" ng-model="dish.price" aria-describedby="dish-price" required>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-success" type="button" ng-click="addADish()">Add</button>
    </div>
</script>