<table class="table">
	<thead>
		<tr>
			<th>下单时间</th>
			<th>配送地址</th> 
			<th>顾客联系电话</th>
			<th>支付方式</th>
			<th>订单处理时间</th>
			<th>订单状态</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="order in orders" ng-click="open(order)">
			<td>{{ order.orderDateTime.S }}</td>
			<td>{{ order.deliveryAddress.S }}</td>
			<td>{{ order.customerContactNumber.S }}</td>
			<td>{{ order.paymentMethod.S }}</td>
			<td>{{ order.lastProcessedDateTime.S }}</td>
			<td ng-if="!order.status.S"><span class="label label-info">新订单</span></td>
		</tr>
	</tbody>
</table>